*.c   text eol=lf
*.cpp text eol=lf
*.h   text eol=lf
*.cxx text eol=lf
*.cc  text eol=lf
*.hpp text eol=lf
*.txt text eol=lf
*.cmake text eol=lf
*.mm  text eol=lf
*.md  text eol=lf
*.js  text eol=lf
*.py  text eol=lf
*.inc text eol=lf
*.sh  text eol=lf
*.rc  text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.inf text eol=crlf
*.png binary
*.jpg binary
*.a   binary
*.lib binary
*.ngk binary
*.ngr binary
*.zip binary
*.nib binary
*.cat binary
*.sys binary
*.exe binary
*.dll binary
*.icns binary
*.ico binary
