*.c    -text
*.cpp  -text
*.h    -text
*.cxx  -text
*.cc   -text
*.hpp  -text
*.txt  -text
*.cmake  -text
*.mm   -text
*.md   -text
*.js   -text
*.py   -text
*.inc  -text
*.sh   -text
*.rc   -text
*.bat  -text
